{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">

     <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" >Twitter Analytics</a>
        <b style="font-size:300% ;text-align:center ;color  :blue">
            Welcome to Data Analytics , {{ name }} !
        </b>
   <div style='float: right; font-size:300%'><a href="/log_out">Sign out </a></div>

    <form action="/view" method = "GET" >
              name: <input type="text" name="name" ><br>
             <input type="submit" value="Submit"  width="48" height="48">
    </form>
    </nav>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

{% endblock %}